@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff1f2;
}

.SiteName {
    background-color: #fda4af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.butt {
    background-color: #881337;
    height: 65px;
    width: 140px;
    border-radius: 10px;
    border: #881337;
    font-size: large;
    color: white;
}

.bookForm {
    border: 3px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.form-container {
    border: 3px solid #881337;
    color: white;
    border-radius: 30px;
    background-color: #881337;
    padding: 20px;
    display: flex;
    height: 30vh;
    width: 20vw;
    justify-content: center;
    flex-direction: column;
}